// 변수 사용 가능.
$main-color: #3498db;
$sub-color: #5bdb34;
$sub-color-hover: #45aa26;
$primary-hover: #2a79ad;
$danger: #e74c3c;
$danger-hover: #aa3528;
$gray: #f4f4f4;

// 폰트
$font-main: "Noto Sans", sans-serif;
$font-main-size: 24px;
$title-size: 32px;